* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-size: 16px;
}

body {
    display: flex;
    flex-direction: row;
    background-color: black;
}

body {
    background-image: url("./../assets/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


aside {
    height: 100vh;
    width: 28%;

    display: flex;
    justify-content: center;
}

#lateral {
    display: flex;
    width: 60%;
    flex-direction: column;
    gap: 0.8vh;
}

#N_logo {
    width: 1.6vw;
    height: 4vh;
    margin-top: 4.2vh;

    background-image: url("./../assets/Netflix_Logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.barra_lateral {
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-left: 0.7vw;
}

#links {
    margin-top: 11.7vh;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}


#link_1,
#link_2 {
    width: 50%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home {
    width: 0.14vw;
    height: 2.4vh;
}


.portal {
    width: 0.14vw;
    height: 2.4vh;
}

#link_1,
#link_2 {
    font-family: 'Inter', sans-serif;

    font-size: 1rem;

    color: white;
    cursor: pointer;
}

.linha_divisao {
    border-bottom: 3px solid rgb(82, 82, 82);
    width: 85%;

    padding-top: 10rem;
    margin-bottom: 2rem;
}

#logo_titulo {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 17vh;
}

.titulo {
    font-family: 'Inter', sans-serif;

    font-size: 6rem;

    color: white;
    width: 80%;
}

#img_titulo {
    height: 11vh;
    width: 4vw;
    margin-left: 0.4vw;

    background-image: url("./../assets/Netflix_Logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#send {
    background-image: url("./../assets/Send.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
}