* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background-image: url("./../assets/Background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



aside {
    background-color: rgba(192, 116, 116, 0);
    height: 100vh;
    width: 30%;

    display: flex;
    justify-content: center;
}

#lateral {
    display: flex;
    background-color: rgba(255, 0, 0, 0);
    width: 60%;
    flex-direction: column;
    gap: 5vh;
}

#N_logo {
    width: 2vw;
    height: 5vh;
    margin-top: 5vh;

    background-image: url("./../assets/Netflix_Logo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 255, 0);
}

.barra_lateral {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#links {
    margin-top: 10vh;

    display: flex;
    flex-direction: column;
    gap: 4vh;
}


#link_1,
#link_2 {
    width: 60%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
}


.home {
    width: 0.2vw;
    height: 4vh;
    background-color: red;
}


.portal {
    width: 0.2vw;
    height: 4vh;
    background-color: blue;
}

#link_1,
#link_2 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

main {
    background-color: red;
    display: flex;
    height: 100vh;
}