body {
    background-image: url("./../assets/background/Portal_3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow-y: auto;
}

#conteudo_principal {
    background-color: rgba(0, 0, 255, 0);
    width: 85%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#celulares {
    height: 190vh;
    width: 33%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#Banner_1 {
    background-image: url("./../assets/banners/Picture_1.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    border-radius: 2rem;
}

#Banner_2 {
    background-image: url("./../assets/banners/Picture_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    border-radius: 2rem;
}

#textos {
    background-color: rgba(255, 251, 0, 0);
    display: flex;
    flex-direction: column;
    width: 63.6%;
    height: 75vh;
    gap: 2rem;
}

#titulo {
    align-items: center;
    gap: 1rem;
    min-height: 9vh;
}

.titulo {
    margin-bottom: 2rem;
}

.subtitulos {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

#trailer {
    width: 100%;
    height: 60vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;

    font-size: 1rem;
    gap: 3rem;

    color: white;
}

.home{
    background-color: blue;
}

.portal{
    background-color: red;
}